.form, form,
.box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 100%;
    

}
.fa-solid{
    cursor: pointer;
}
.all{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


}
input{
    flex: 1;
}
.container{
     display: flex;
    justify-content: center;
    align-items: center;
}
.done{
    text-decoration: line-through;
    color: red;
}